.card {
  border: 4px solid var(--color-primary-light);
  border-radius: 8px;
  background-color: var(--color-neutral-beige);
}


.btn {
  margin-top: 1em;
}

p {
  color: black;
}

.card h2 {
  padding-top: 1rem;
}
