.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff;
  transition: all 250ms linear;
}

.btn:hover {
  background-color: #333;
  border-color: #333;
  color: #fff;
}
