.btnaround {
  padding-right: 2rem;
}

h3 {
  padding-top: 3rem;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.is-validated input:invalid,
.is-validated textarea:invalid,
.is-validated select:invalid,
.is-validated input[type="checkbox"]:invalid + label::before {
  border-color: #f33;
}

.error-message {
  display: none;
  color: #f33;
}

.error-message-highlighted {
  color: #f33;
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated select:invalid + .error-message,
.is-validated textarea:invalid + .error-message,
.is-validated input:invalid + label + .error-message {
  display: block;
}
