:root {
  --color-primary: #27aae1;
  --color-primary-light: #27aae1;
  --color-secondary: #33ffc9;
  --color-accent: #33ffc9;
  --color-neutral-beige: #e2e2e2;

  --font-primary: "Roboto Slab", sans-serif;
  --font-secondary: sans-serif;
}

html {
  font-family: var(--font-primary);
}
